<div class="container">
  <div>
    <p class="text-center mt-2">
      <%= current_user.first_name %>, list your products
    </p>
  </div>
  <% @farmer_products.each do |fp| %>
    <div class="d-flex align-items-center mb-3 justify-content-between">
      <div class="d-flex align-items-center">
        <div class='mr-2'><%= image_tag fp.product.img_url, width: "30" %> </div>
        <p class="greeting mb-0"><%= fp.product.name.capitalize %> </p>
      </div>
      <!-- <i class="fas fa-trash-alt"></i> -->
      <%= link_to "", farmer_product_path(fp), remote: true, method: :delete, class:'fas fa-trash-alt btn-delete' %>
    </div>
  <% end %>
  <p>Add a new product</p>

    <%= render 'farmer_products/new', fp: FarmerProduct.new %>

</div>
