<div class="container container-100-vh d-flex flex-column text-center justify-content-center">


  <div class="dashboard-banner d-flex">
      <div class="product-container">
        <%= image_tag "john.jpg", alt: "Change Procuct", class: "avatar" %>
        <%= link_to 'Change Produce', "#", class: "btn btn-main"%>
      </div>


      <div class="avatar-container">
        <%= image_tag current_user.img_url, alt: "User Avatar", class: "avatar-large" %>
        <p>Hello, <%= current_user.first_name %>!  </p>
      </div>


      <div class="market-container">
        <%= image_tag "nakasero.jpg", alt: "Choose Market", class: "avatar" %>
        <%= link_to "#", class: "btn btn-main" do %>
          Mwenge Market
          <i class="fas fa-sort-down"></i>
        <% end %>
      </div>
  </div>



  <h1 class="brand">farmerando</h1>
  <h5>What would you like to buy?</h5>
  <div>
    <%= simple_form_for @buyer_preference do |f| %>
      <%= f.association :product,
                        placeholder: "select product",
                        input_html: { autocomplete: "select product", class: "rounded-input" },
                        label_html: {class: "d-none"}%>
      <%= f.input       :price,
                        placeholder: "type in price",
                        input_html: { autocomplete: "select product", class: "rounded-input" },
                        label_html: {class: "d-none"}%>
      <%= f.button :submit, "save your product", class: "btn btn-main"%>
    <% end %>
  </div>
</div>
