


<div class="card-buyer">
  <div class="card-buyer-left">
    <%= image_tag user.img_url, width: 70 %>
    <p><%= user.first_name %> <%= user.last_name %> </p>
  </div>
  <div class="card-buyer-right">
    <div class="card-buyer-right-container">
      <p class="price-margin"><%= price  %> $ </p>
      <p class="product-name-space"><%= product.name %></p>
      <%= image_tag product.img_url, width: 70 %>
    </div>
    <div class="col card-buyer-go">
      <button class="btn-main">
        <%= link_to "Make a transaction", new_farmer_transaction_path(user: user) %>
      </button>
    </div>
  </div>
</div>
