


<div class="card-buyer">
  <div>
            <%= image_tag user.img_url, width: 70 %>
  </div>
  <div class="card-buyer-products">
<%= render "shared/card-produce-only-image", product: Product.first %>
<%= render "shared/card-produce-only-image", product: Product.second %>
<%= render "shared/card-produce-only-image", product: Product.third %>
<%= render "shared/card-produce-only-image", product: Product.fourth %>
<%= render "shared/card-produce-only-image", product: Product.fifth %>

  </div>
  <div class="card-buyer-go">
  <img src="https://cdn.icon-icons.com/icons2/488/PNG/512/go_47732.png" />
  </div>
</div>
