<div class="navbar navbar-expand-sm navbar-light navbar-farmerando">
  <%= link_to "farmerando", "#", class: "navbar-brand" %>
  <%= link_to '#' do %>
    <i class="fas fa-map-marker-alt"></i>
  <% end %>
  <%= link_to '#' do %>
    <i class="fas fa-cloud-sun"></i>
  <% end %>
  <%= link_to '#' do %>
    <i class="fas fa-video"></i>
  <% end %>
  <i class="fas fa-cog" id="settings-cog" onclick="toggleOn()"></i>
  <div class="settings-collapsed settings-hidden" id="cog-collapsed">
    <%= link_to "Profile", profile_path(current_user) %>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>

<script>
  const toggleOn = () => {
    const cog = document.getElementById("cog-collapsed");
    if (cog.classList.contains("settings-hidden")) {
      cog.classList.remove("settings-hidden")
    } else {
      cog.classList.add("settings-hidden")
    }
  }
</script>
