<div class="container text-center mt-3 justify-content-center">
  <h5 class="greeting">
    <%= current_user.first_name %>, here is a list of your recent offers
  </h5>

  <div class="banner-transaction">
    <div class="container">
      <% @farmer_transactions.each do |ft| %>

          <div class="avatar-section">
          <%= image_tag ft.farmer.img_url, alt: "User Avatar", class: "avatar" %>
          </div>
          <p class="farmer-name">
            from <span> <%= ft.farmer.first_name %></span>
            <span> <%= ft.farmer.last_name %></span>
          </p>


        <div class="transaction-info">
          <p>Total amount: <%= ft.total %> </p>
          <p>Status: <%= ft.status %></p>
          <% if ft.status == "pending" %>
            <%= link_to "Review", request_for_buyer_path(ft), class: "btn-transaction-small"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>





