<div class="container text-center mt-3 justify-content-center">
  <p>
    <%= current_user.first_name %>, here is a list of your recent offers
  </p>

  <% @farmer_transactions.each do |ft| %>
    <% unless ft.status == "pending" %>
      <div class="card card-bp p-4 shadow mb-3">
        <p>From <%= ft.farmer.first_name %> <%= ft.farmer.last_name %></p>
        <% ft.transaction_products.each do |tp| %>
          <div class="d-flex align-items-center">
            <div class='mr-2'><%= image_tag tp.buyer_preference.product.img_url, width: "30" %> </div>
            <p class="mb-0 mr-2 greeting"><%= tp.buyer_preference.product.name.capitalize %> </p>
            <p class="mb-0"><%= tp.quantity %>kg</p>
          </div>
        <% end %>
        <p class="mb-0 mt-3 text-left ">Total: <%= ft.total %></p>
        <p class="mb-0 text-left ">Status:
          <% if  ft.status == "Accepted" %>
            <i class="fas fa-check-circle mt-1 accepted"></i>
          <% elsif ft.status == "Declined" %>
            <i class="far fa-times-circle mt-1 declined"></i>
          <% elsif ft.status == "Confirmed" %>
            <i class="fas fa-hourglass mt-1 pending"></i>
          <% end %>
        </p>
        <div class="d-flex justify-content-between mt-2">
          <% if  ft.status == "Confirmed" %>
            <%= link_to "Accept transaction", accept_transaction_path(ft),remote: true, method: :post, class:'btn btn-main-small btn-green' %>
            <%= link_to "Reject transaction", reject_transaction_path(ft),remote: true, method: :post, class:'btn btn-main-small btn-red' %>
          <% end %>
        </div>
        <%#= link_to "Review", request_for_buyer_path(ft), class: "btn btn-transaction-small mt-3"%>
      </div>
    <% end %>
  <% end %>
</div>





