<div class="container">
  <p><%= @farmer.first_name %></p>
  <p><%= @farmer.last_name %></p>
  <% @farmer_transaction.transaction_products.each do |tp| %>
      <% if tp.quantity > 0 %>
        <div class="d-flex card-transaction justify-content-between align-items-center">
        <%= render "shared/card-produce-farmer-transaction", product: tp.buyer_preference.product, price: tp.buyer_preference.price%>
        <%= tp.quantity %> KG
        </div>
      <% end %>
    <% end %>
    <p>TOTAL: <%= @farmer_transaction.total %></p>
    <p>STATUS: <%= @farmer_transaction.status %></p>
  <%= link_to "accept", accept_transaction_path(@farmer_transaction), method: :post %>
  <%= link_to "reject", reject_transaction_path(@farmer_transaction), method: :post %>
</div>
