<div class="container text-center mt-3 justify-content-center">
  <h5 class="greeting">
    <%= current_user.first_name %>, please review the offer from <%= @farmer.first_name %> <%= @farmer.last_name %>
  <h5>





  <% @farmer_transaction.transaction_products.each do |tp| %>
      <% if tp.quantity > 0 %>
        <div class="d-flex card-transaction justify-content-between align-items-center">
        <%= render "shared/card-produce-quantity", product: tp.buyer_preference.product, quantity: tp.quantity %>
        </div>
      <% end %>
    <% end %>
  <p>Total Amount: <%= @farmer_transaction.total %> $ </p>


  <%= link_to "accept", accept_transaction_path(@farmer_transaction), method: :post , class: "btn-transaction-small"%>
  <%= link_to "reject", reject_transaction_path(@farmer_transaction), method: :post , class: "btn-transaction-small"%>
</div>
