<div class="container text-center mt-3 justify-content-center">
    <p>
      <%= @farmer.first_name %>, choose the amount of produces you would like to sell to <%= @buyer.first_name %>
    </p>
      <div>
        <% @buyer.buyer_preferences.each do |bp| %>
        <div>
        <% if bp.transaction_products.where(farmer_transaction_id: @farmer_transaction.id).any? %>
          <%= bp.transaction_products.first.quantity %>
          <% else %>
            <%= simple_form_for([@farmer_transaction, TransactionProduct.new], method: :post) do |f| %>
              <div class="d-flex card-transaction justify-content-between align-items-center">
                <%= render "shared/card-produce-farmer-transaction", product: bp.product, price: bp.price %>

                  <%= f.input :quantity, input_html: { class: "rounded-input small-input mb-0"}, placeholder: "kg",
                      label_html: {class: "d-none"}%>

                  <%= f.input :buyer_preference_id, as: :hidden, input_html: { value: bp.id } %>
                  <%= f.button :submit, 'Sell', class: "btn-transaction-small"%>
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>

      </div>


      <% if @farmer_transaction.status == "confirmed" %>
        <h1>Confirmed</h1>
          <%=  @farmer_transaction.total%>
       <% else %>
        <%= link_to "Confirm your choices", farmer_transaction_confirmation_path(@farmer_transaction), class: "btn btn-main"%>
      <% end %>
</div>


