<div class="container">
  <h5>
    <%= @farmer.first_name %>, choose the amount of produces you would like to sell to <%= @buyer.first_name %>
  </h5>

  <% @buyer.buyer_preferences.each do |bp| %>
    <%= bp.product.name %>, <%= bp.price %> |
    <%= simple_form_for([@farmer_transaction, TransactionProduct.new], method: :post) do |f| %>
    <%= f.input :quantity %>
    <%#= f.submit %>
    <% end %>
  <% end %>

 <%= link_to "Confirm your choices", farmer_transaction_confirmation_path(@farmer_transaction) %>
</div>




