
<div class="container text-center mt-3 justify-content-center">

  <% if @farmer_transaction.status == "Confirmed" %>

    <div class="banner-confirmation">
      <div class="container row ">
        <div class="greeting col-8">
          <%= @farmer.first_name %>, your offer request of <%= @farmer_transaction.total %> has been sent to <%= @buyer.first_name %> <%= @buyer.last_name %>
        </div>
        <div class="col-4">
          <%= image_tag @buyer.img_url, alt: "User Avatar", class: "avatar-large" %>
        </div>
      </div>
    </div>

    <div>
      <% @buyer.buyer_preferences.each do |bp| %>
        <div>
        <% if bp.transaction_products.where(farmer_transaction_id: @farmer_transaction.id).any? && bp.transaction_products.first.quantity > 0 %>
          <div class="d-flex card-transaction justify-content-between align-items-center">
                <%= render "shared/card-produce-farmer-transaction", product: bp.product, price: bp.price %>
          <%= bp.transaction_products.first.quantity %> KG
          </div>
        <% end %>
        </div>
      <% end %>
    </div>

  <% else %>

    <div class="container row ">
      <div class="greeting col-8">
        <%= @farmer.first_name %>, choose the amount of produces you would like to sell to <%= @buyer.first_name %> <%= @buyer.last_name %>
      </div>
      <div class="col-4">
        <%= image_tag @buyer.img_url, alt: "User Avatar", class: "avatar-large" %>
      </div>
    </div>

    <div>
    <% @buyer.buyer_preferences.each do |bp| %>
      <div>
      <% if bp.transaction_products.where(farmer_transaction_id: @farmer_transaction.id).any? %>
        <div class="d-flex card-transaction justify-content-between align-items-center">
              <%= render "shared/card-produce-farmer-transaction", product: bp.product, price: bp.price %>
        <%= bp.transaction_products.first.quantity %> KG added
        </div>
        <% else %>
          <%= simple_form_for([@farmer_transaction, TransactionProduct.new], method: :post, remote: true) do |f| %>
            <div class="d-flex card-transaction justify-content-between align-items-center">
              <%= render "shared/card-produce-farmer-transaction", product: bp.product, price: bp.price %>

                <%= f.input :quantity, input_html: { class: "rounded-input small-input mb-0"}, placeholder: "kg",
                    label_html: {class: "d-none"} %>

                <%= f.input :buyer_preference_id, as: :hidden, input_html: { value: bp.id } %>
                <%= f.button :submit, 'Sell', class: "btn-transaction-small" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

    <div class="d-flex banner-transaction justify-content-between align-items-center">


        <span > Send offer of <%= @farmer_transaction.total %> $ to <%= @buyer.first_name %> <%= @buyer.last_name %> </span>

        <%= link_to "Send!", farmer_transaction_confirmation_path(@farmer_transaction), class: "btn-transaction-small"%>

    </div>
 <% end %>
</div>

