
<div class="container text-center mt-3 justify-content-center">

  <% if @farmer_transaction.status == "Confirmed" %>

    <div class="card-confirmation">
      <div class="container row ">
        <div class="row h-100 p-2">
          <p class="col-10 text-left my-auto">
            <% unless @farmer_transaction.total.nil? %>
              <%= @farmer.first_name %>, you are trading with <%= @buyer.first_name %> <%= @buyer.last_name %>
            <% end %>

          </p>
          <div class="col-2 my-auto">
            <%= image_tag @buyer.img_url, alt: "User Avatar", class: "avatar" %>
          </div>
      </div>
      </div>
    </div>

    <div>
      <% @buyer.buyer_preferences.each do |bp| %>
        <div>
        <% if bp.transaction_products.where(farmer_transaction_id: @farmer_transaction.id).any? && bp.transaction_products.first.quantity > 0 %>
          <div class="d-flex card-transaction justify-content-between align-items-center">
                <%= render "shared/card-produce-farmer-transaction", product: bp.product, price: bp.price %>
          <%= bp.transaction_products.first.quantity %> kg
          </div>
        <% end %>
        </div>
      <% end %>
    </div>

    <div class="d-flex card-transaction justify-content-between align-items-center mt-4 p-3">
      <strong><p class="mb-0">TOTAL:</p></strong>

      <strong><p class="mb-0"><%= @farmer_transaction.total.round(2) %>$
      </p></strong>
    </div>

  <% else %>

    <div class="container row">
      <div class="col-10">
        <p>
        <%= @farmer.first_name %>, choose the amount to sell to <%= @buyer.first_name %> <%= @buyer.last_name %>
        </p>
      </div>
      <div class="col-2">
        <%= image_tag @buyer.img_url, alt: "User Avatar", class: "avatar" %>
      </div>
    </div>

    <div>

    <% @buyer.buyer_preferences.each do |bp| %>
      <% if @farmer.all_farmer_products.include?(bp.product) %>

        <div>

        <% if bp.transaction_products.where(farmer_transaction_id: @farmer_transaction.id).any? %>

          <div class="d-flex card-transaction justify-content-between align-items-center">
                <%= render "shared/card-produce-farmer-transaction", product: bp.product, price: bp.price %>
          <%= bp.transaction_products.first.quantity %> kg added
          </div>
          <% else %>
            <%= simple_form_for([@farmer_transaction, TransactionProduct.new], method: :post, remote: true) do |f| %>
              <div class="d-flex card-transaction justify-content-between align-items-center">
                <%= render "shared/card-produce-farmer-transaction", product: bp.product, price: bp.price %>

                  <%= f.input :quantity, input_html: { class: "rounded-input small-input mb-0"}, placeholder: "kg",
                      label_html: {class: "d-none"} %>

                  <%= f.input :buyer_preference_id, as: :hidden, input_html: { value: bp.id } %>
                  <%= f.button :submit, 'Sell', class: "btn-transaction-small" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% unless @farmer_transaction.total.nil? %>
    <div class="d-flex card-transaction justify-content-center align-items-center">
      <span> You will receive <%= @farmer_transaction.total.round(2) %> $ from <%= @buyer.first_name %> <%= @buyer.last_name %> </span>
    </div>
  <% end %>
    <div class="button-send mb-2">
    <%= link_to "Send!", farmer_transaction_confirmation_path(@farmer_transaction), class: "btn btn-main"%>
    </div>
 <% end %>
</div>

