<div class="container container-100-vh d-flex flex-column text-center justify-content-center">
  <div class="landing-banner">
    <%= image_tag "undraw_weather_notification_4sbo.svg", alt: "Farmerando Logo", width: 200 %>
    <div>
      <h1 class="brand">farmerando</h1>
    </div>
    <div>
      <h5 class="slogan">creating markets, empowering farmers</h5>
    </div>
  </div>

  <div class="login-block">
    <% if user_signed_in? %>
      <%= link_to 'Go to Dashboard', "#", class: "btn btn-main"%>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: "btn btn-main"%>
      <%= link_to 'Register', new_user_registration_path, class: "btn btn-main mt-3"%>
    <% end %>
  </div>
</div>

<%= render "shared/card-produce", product: Product.first %>
<%= render "shared/card-produce", product: Product.second %>
