  <div class="dashboard-banner m-3 d-flex justify-content-between align-items-center">
    <div class="product-container text-center mt-2">
      <div class="procuct-avatar mb-2">
      <%= image_tag "potato-icon.jpg", alt: "Change Procuct", class: "avatar" %>
      </div>
      <%= link_to 'Change Produce', my_products_path, class: "btn btn-main-small"%>
    </div>
    <div class="avatar-container text-center">
      <% unless current_user.img_url.nil? %>
        <%= image_tag current_user.img_url, alt: "User Avatar", class: "avatar-large" %>
      <% end %>
      <p class="greeting"> Hello, <%= current_user.first_name %>!  </p>
    </div>
    <div class="mt-2 text-center">
      <div>
        <%= image_tag "markets/nakasero.jpg", alt: "Choose Market", class: "avatar  mb-2" %>
      </div>
      <div>
        <%= link_to "#", class: "btn btn-main-small" do %>
          Mwenge Market
          <i class="fas fa-sort-down"></i>
        <% end %>
      </div>
    </div>
  </div>

<div class="container">
  <div class="container-horizontal">
    <div class="card-flexbox">
      <%   @farmer_products.each do |product| %>
        <%= render "shared/card-produce", product: product.product %>
      <% end  %>
    </div>
    <div>
      <ul class="buyer-list">
        <% @users_displayed = [] %>
        <% BuyerPreference.all.each do |bp| %>
          <% if @product_array.include?(bp.product_id) %>
            <% unless @users_displayed.include?(bp.user) %>
              <% @users_displayed << bp.user %>
              <%= render "shared/card-buyer", product: bp.product, price: bp.price, user: bp.user %>
            <% end %>
          <% end  %>
        <% end  %>
      </ul>
    </div>
  </div>
</div>

